doctype html
head 
    title Small Cap Analyzer
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.9/firebase.js")
body
    h1.text-center Small Cap Analyzer
        a(href="../index.html").btn.btn-default HOME
    .container
        .row#controls
            .col-md-3
            .col-md-3
                select.form-control#db
                    option Pick a DB
                    option Yahoo
                    option Simply Wall Street
            .col-md-3
                select.form-control#parameter
                    option Pick a Parameter
            .col-md-3
        .row
            .col-md-2
                h2.text-center Results
                #stockDisplay
            .col-md-4
                h2.text-center Fundamentals
                #snowFlake
            .col-md-6
                h2.text-center Market Data
                #marketSnapshot
    script(src="../scripts/parser.js")

