doctype html
head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.9/firebase.js")
body
    h1.text-center DB Interface 
        a(href="../index.html").btn.btn-default HOME
    .container
    script(src="yahooMarketAnalysis.js")
